table, h1, select
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
table
{
width:100%;
border-collapse:collapse;
}
td, th, select
{
font-size:1em;
border:1px solid #dd5500;
padding:3px 7px 2px 7px;
}
th, h1
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#ee6600;
color:#ffffff;
}
h1
{
text-align:center;
}
tr.alt, select
{
color:#000000;
background-color:#ffcc30;
}

