@page { size: A4 }

h2 {
  text-align: left;
  font: 12pt  Arial, sans-serif;
  font-weight: bold;
}

p {
  text-align: left;
  font: 12pt  Arial, sans-serif;
}

.user-report {
  display: block;
  page-break-before: always;
  /*Do next line for back-to-back printing.*/
  /*page-break-after: right;*/
}

.batch-report {
  /*page-break-before: always;*/
  /*counter-reset: page;*/
}

table{
    page-break-inside: avoid; !important; 
    display:inline-block;
}

table:after
 {
    display:block;
    height:0px;
    visibility: hidden;
}

table {
  width: 100%;
  border: 0.5px solid #000;
  border-spacing: 0;
  color: #000;
  font: 12pt Arial, sans-serif;
}


th,td {
  padding: 3px 3px;
  vertical-align: middle;
  text-align: left;
  word-wrap: break-word;

}

th {
  vertical-align: bottom;
}

thead {
  background: #b2b2b2;
  /*background: linear-gradient(#49708f, #293f50);*/
  color: #000;
  font-size: 12pt;
/*  text-transform: uppercase; */
}

tr {
  border: 1px solid #000;
}

td {
  border: 0.5px solid #000;
}


.header {
  display: block;
  vertical-align: middle;
    font: 12pt  Arial, sans-serif, bold;
  padding: 5px;
  width: 100%;
}


.header img {
   width:100%;
}


